*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}

.container{
	width: 1320px;
	margin: 0 auto;
}

.clr{
	clear: both;
}
 .title{
  width: 150px;
  margin: 0 auto;
  text-align: left;
  }

 .title h2{
	margin-bottom: -14px;
	font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight:500;
}
/* ====================================
      header part start
  =====================================  */


header{
	background: #0872b9;
	padding: 10px 0;
}

header .header-text{
	float: left;
	width: 50%;
}

header .header-icon{
	float: left;
	width: 50%;
	text-align: right;
}

header .header-icon i{
	margin-left: 25px;
	color: #fff;
	transition: .4s;
	cursor: pointer;
}
header .header-icon i:hover{
	color: #353535;
}


header p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}


  /* ====================================
          header part end
    =====================================  */

  /* ====================================
          navbar part start
    =====================================  */
nav{
	padding: 20px o;
}
nav .nav-logo{
	width: 50%;
	float: left;
}

nav .nav-itmes{
	width: 50%;
	float: left;
	padding: 15px 0;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

nav .nav-itmes a{
   display: inline-block;
   color: #353535;
   margin-left: 15px;
   transition: .4s;
}

nav .nav-itmes a:hover{
	color: #0872b9;
}


  /* ====================================
         navbar part end
    =====================================  */


/* ====================================
         banner part start
    =====================================  */
#banner-part{
	background: url(../images/banner.jpg) no-repeat center;
	background-size: cover;
	}

#banner-part .overlay{
	background-color: rgb(0, 0, 0,.6);
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: right;
	padding: 80px 0;
}
#banner-part .overlay h3{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #424242;
  
}

#banner-part .overlay h1{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #424242;
  text-transform: uppercase;
}

#banner-part .overlay p{
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: black;
  width: 440px;
  line-height: 24px;
  margin: 30px 0 30px auto;

}

#banner-part .overlay a{
	font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: #0872b9;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #0872b9;
  transition: .4s;
  margin-left: 20px;
  
}
#banner-part .overlay a:hover{
   background-color:transparent;
   color: #424242;
}


/* ====================================
         banner part end
    =====================================  */

/* ====================================
         about part start
    =====================================  */
#about-part{
	margin-top: 100px;
	
}
#about-part  .about-item .about-left{
	width: 50%;
	float: left;
	line-height: 24px;
	margin-left: -600px;
}

#about-part .about-item .about-right{
	width: 40%;
  float: left;
  margin-left: -250px;
  }

#about-part .about-item .about-right h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 800px;
  margin-bottom: 60px;
  line-height: 24px;
  }

#about-part .about-item .about-right p{
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 800px;
  line-height: 24px;
  }


/* ====================================
          about part end
    =====================================  */

    /* ====================================
          service part start
    =====================================  */
#service-part{
	margin-top: 100px;
}
#service-part .item{
   width: 30%;
   background: #f1f1f1;
   float: left;
   margin-right: 20px;
   position: relative;
   padding-top: 50px;
   padding-bottom: 20px;
   text-align: center;
   margin-top: 60px;
}

#service-part .item .shape{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 0;
  left: 50%;
}

#service-part .item .shape .border-shape{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid #f1f1f1;
	position: absolute;
	background: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#service-part .item .shape .border-shape .icon-shape{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	background: #f1f1f1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#service-part .item .shape .border-shape .icon-shape img{
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
#service-part .item .details h4{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

#service-part .item .details p{
	width: 265px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
#service-part .item .shape .border-shape .icon-shape:hover{
	background-color: #5bc5f4;
}


#service-part .item .shape .border-shape:hover{
	background-color: #5bc5f4;
}

    /* ====================================
          service part end
    =====================================  */

/* ====================================
          portfolio part start
    =====================================  */
#portfolio-part{
	margin-top: 100px;
}

#portfolio-part .item{
	width: 22%;
	float: left;
	margin-right: 20px;
}
#portfolio-part .item .img{
	margin-top: 10px;
	position: relative;
}
#portfolio-part .item .img img{
	width: 100%;
	display: block;
}


#portfolio-part .item .img .overlay{
	height: 0%;
	width: 100%;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	transition: .4s;
	opacity: 0;
}

#portfolio-part .item .img .overlay i{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  

}

#portfolio-part .item .img:hover .overlay{
	height: 100%;
  opacity: 1;
}

#portfolio-part .item .img .overlay i:hover{
	background: #0872b9;
	background-color: #0872b9;
	opacity: 1;
}
/* ====================================
          portfolio part end
    =====================================  */

    /* ====================================
          team part start
    =====================================  */

    #team-part{
    	margin-top: 100px;
    }

#team-part .team-item{
	float: left;
	width: 22%;
	margin-right: 20px;
	text-align: center;
}

#team-part .team-item .team-img{
	position: relative;
}

#team-part .team-item .team-img img{
	width: 100%;
	display: block;
}

#team-part .team-item .team-img .overlay{
	width: 0;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	padding-top: 35px;
	opacity: 0;
	transition: .4s;
	box-sizing: border-box;
}
 #team-part .team-item .team-img .overlay i{
 	height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 15px;
  transition: .4s;

 }

#team-part .team-item .team-details h3{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;

}

#team-part .team-item .team-details p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;

}
#team-part .team-item:hover .overlay{
  width: 80px;
  opacity: 1;
}
#team-part .team-item .overlay i:hover{
	background: #0872b9;
	background-color: #0872b9;
	opacity: 1;
	cursor: pointer;
}

    /* ====================================
          team part end
    =====================================  */

    /* ====================================
          testi-part start
    =====================================  */
#testi-part{
	margin-top: 100px;
}
#testi-part .item{
	width: 48%;
	float: left;
	margin-right: 20px;
	position: relative;
}
#testi-part .item img{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
#testi-part .item .details{
	background: #f1f1f1;
	margin-top: 150px;
	position: relative;
  padding: 20px;
  box-sizing: border-box;
}
#testi-part .item .details .shape{
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
 
}

#testi-part .item .details h4{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  }
#testi-part .item .details .icon{
	text-align: center;
	color: #5bc5f4;
	margin-bottom: 40px;
}


#testi-part .item .details p{
	font-family: 'Oswald', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  }

    /* ====================================
          testi-part end
    =====================================  */

    /* ====================================
          footer-part start
    =====================================  */
footer{
	padding: 80px 0;
	margin-top: 100px;
	background: #353535;
}

footer .footer-left{
	width: 22%;
  float: left;
  margin-right: 20px;
}
footer .footer-left h4{
	margin: 20px 0;
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5bc5f4;
  
}

footer .footer-left p{
	margin: 20px 0;
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5bc5f4;
  
}
footer .Contact{
	width: 24%;
	float: left;
	margin: 0 15px;

}
footer h3{
	font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #5bc5f4;
  margin-bottom: 20px;

}

footer .Contact .number .icon{
	color: #ffffff;
  margin-top: 20px;
  text-align: center;
  width: 20%;
}
footer .Contact .number .icon i{
  margin-top: 8px;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  background: #5bc5f4;
	}
footer .Contact .number .text{
	float: left;
	color: #5bc5f4;
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 80%;

}
footer .Contact .number .text p{
	
	margin-left: 8px;
}
footer .links{
	float: left;
	width: 15%;
}
footer .links ol{
	float: left;

}
footer .links ol li{
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5bc5f4;
  margin-bottom: 15px;
  margin-right: 20px;
}

footer .links ol li:hover{
	margin-left: 8px;
	color: #3f5b68;
}

footer .flickr h3{
	color: #5bc5f4;

} 
footer .flickr{
	width: 22%;
	float: left;
}

footer .flickr .img{
margin: 0 10px 10px 0;
	
}

    /* ====================================
          footer-part end
    =====================================  */

    /* ====================================
          copy-part start
    =====================================  */

#copy-part{
	margin-top: 0;
	width: 100%;
	height: 10px;
	background: #555555;
	padding: 20px;
}
#copy-part p{
	float: right;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  
}

    /* ====================================
          copy-part end
    =====================================  */